<div id="body">
  <div class="row">
    <h3 class="general-text">This is my information</h3>
    <hr />

    <div [ngClass]="image">
      <div class="image-user">
        <img
          src="{{image01}}"
          alt="..."
          class="img-thumbnail w-50 "
        />
      </div>
      <hr />
      <h4>Nilson Eduardo Escobar Vicente</h4>
      <p class="JetBrains">Computer System Engineering at University of El Salvador</p>
      <code class="text-secondary JetBrains">2019 - present</code>
    </div>

    <div [ngClass]="info" class="JetBrains">
      <h3 class="general-text">Resume</h3>
      <p class="text-size">
        I am a proactive person, an excellent teammate, organized and
        responsible. I really enjoy learning new things focused on technology,
        so my goal is a challenging and dynamic position where I can share my
        experience and at the same time get new knowledge.
      </p>

      <hr />

      <div class="container m-3"  id="persona-info">
        <h3 class="text-start general-text">Experience:</h3>

        <ul class="text-size">
          <h4 class="text-start general-text">Tecnical Support Agent</h4>
          <code class="text-secondary">
            <li class="list-group-item m-3 text-start text-size">
              Providing Support to residential customers, with services like:
              TV, Internet and Phone lines
            </li>
          </code>

          <h4 class="text-start general-text"><strong>Support Center Specialist</strong></h4>
          <code class="text-start text-secondary">
            <li class="list-group-item text-start m-3 text-size">
              Support for Dollarcity Stores with POS, Printers, Servers,
              Databases, phones (via remote)
            </li>

            <li class="list-group-item text-start m-3 text-size">
              Support for coworkers such as administrative, financial, others
              areas
            </li>

            <li class="list-group-item text-start m-3 text-size">
              Support for Dollarcity Stores with POS, Printers, Servers,
              Databases, phones (via remote)
            </li>

            <li class="list-group-item text-start m-3 text-size">
              Creating users in Active Directory, Office 365 and providing
              different access and user configurations like VPN, Emails,
              SharePoint, FTP Paths, others.
            </li>

            <li class="list-group-item text-start m-3 text-size">
              Network monitoring (Router, Switches, Network Link, ISP, Servers,
              Firewalls) with tool such as SolarWinds, Nagios, Cisco Meraki,
              Cisco Umbrella
            </li>
          </code>
        </ul>
        <br />

        <h4 class="text-start general-text">Skills:</h4>
        <div class="row">
          <div class="col-12">
              <ul class="m-3 text-size">
                <li class="text-start text-size">HTML, CSS, JS</li>
                <li class="text-start">PHP</li>
                <li class="text-start">Node JS</li>
                <li class="text-start">Angular</li>
                <li class="text-start">O365 Admin</li>
                <li class="text-start">Active Directory</li>
                <li class="text-start">Windows Server</li>
                <li class="text-start">Microsoft Azure</li>
                <li class="text-start">Google Workspace</li>
                <li class="text-start">AWS(S3, EC2, Route 53)</li>
                <li class="text-start">SQLServer</li>
                <li class="text-start">MySQL</li>
                <li class="text-start">MONGO DB</li>
                <li class="text-start">TCP/IP</li>
                <li class="text-start">SolarWinds - Monitoring</li>
                <li class="text-start">Cisco Meraki</li>
                <li class="text-start">Switch, Router as monitoring</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
