<div id="body">
  <div class="row">
    <h3 class="general-text">This is my information</h3>
    <hr />

    <div class="col-4 ">
      <div class="image-user">
        <img
          src="https://res.cloudinary.com/dorqesogu/image/upload/v1684950584/utils/B612_20220428_120412_479_b8uu8d.jpg"
          alt="..."
          class="img-thumbnail w-50"
        />
      </div>
      <hr />
      <h4>Nilson Eduardo Escobar Vicente</h4>
      <p>Computer System Engineering at University of El Salvador</p>
      <code class="text-secondary">2019 - present</code>
    </div>

    <div class="col-8">
      <h5 class="general-text">Resume</h5>
      <p>
        I am a proactive person, an excellent teammate, organized and
        responsible. I really enjoy learning new things focused on technology,
        so my goal is a challenging and dynamic position where I can share my
        experience and at the same time get new knowledge.
      </p>

      <hr />

      <div class="container m-3"  id="persona-info">
        <h5 class="text-start">Experience:</h5>

        <ul>
          <li class="text-start"><strong>Tecnical Support Agent</strong></li>
          <code class="text-secondary">
            <li class="list-group-item m-3 text-start">
              Providing Support to residential customers, with services like:
              TV, Internet and Phone lines
            </li>
          </code>

          <li class="text-start"><strong>Support Center Specialist</strong></li>
          <code class="text-start text-secondary">
            <li class="list-group-item text-start m-3">
              Support for Dollarcity Stores with POS, Printers, Servers,
              Databases, phones (via remote)
            </li>

            <li class="list-group-item text-start m-3">
              Support for coworkers such as administrative, financial, others
              areas
            </li>

            <li class="list-group-item text-start m-3">
              Support for Dollarcity Stores with POS, Printers, Servers,
              Databases, phones (via remote)
            </li>

            <li class="list-group-item text-start m-3">
              Creating users in Active Directory, Office 365 and providing
              different access and user configurations like VPN, Emails,
              SharePoint, FTP Paths, others.
            </li>

            <li class="list-group-item text-start m-3">
              Network monitoring (Router, Switches, Network Link, ISP, Servers,
              Firewalls) with tool such as SolarWinds, Nagios, Cisco Meraki,
              Cisco Umbrella
            </li>
          </code>
        </ul>
        <br />

        <h5 class="text-start">Skills:</h5>
        <div class="row">
          <div class="col-5">
              <ul class="m-3">
                <li class="text-start">HTML, CSS, JS</li>
                <li class="text-start">PHP</li>
                <li class="text-start">Node JS</li>
                <li class="text-start">Angular</li>
                <li class="text-start">O365 Admin</li>
                <li class="text-start">Active Directory</li>
                <li class="text-start">Windows Server</li>
                <li class="text-start">Microsoft Azure</li>
                <li class="text-start">Google Workspace</li>
                <li class="text-start">AWS(S3, EC2, Route 53)</li>
                <li class="text-start">SQLServer</li>
                <li class="text-start">MySQL</li>
                <li class="text-start">MONGO DB</li>
                <li class="text-start">TCP/IP</li>
                <li class="text-start">SolarWinds - Monitoring</li>
                <li class="text-start">Cisco Meraki</li>
                <li class="text-start">Switch, Router as monitoring</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
