<div class="loading" *ngIf="!posts">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="loading" *ngIf="posts.length == 0">
  <h3>No hay posts</h3>
</div>

<div id="body">
  <h3 class="general-text">POSTS ({{total}})</h3>
  <hr />
  <div id="posts" class="mt-3 JetBrains" *ngFor="let post of posts" routerLink="get-post/{{post._id}}&{{post.title}}">
    <article id="showed-post">
      <div id="post-title-item">
        <h4>
          <span id="post-title" class="general-text">{{ post.title }}</span>
        </h4>

      </div>
      <div id="post-image-item">
        <img src="{{ post.image.secure_url }}" alt="" />
      </div>
      <div id="content-post">
        <h5 id="post-intro">{{ post.intro }}</h5>
      </div>


      <div class="row">
        <div class="col-6">
          <span>
            <img
              class="default-user-autor"
              src="https://res.cloudinary.com/dorqesogu/image/upload/v1684945877/utils/149071_vbgvli.png"
              alt="autor"
            />
            <span class="text-secondary fst-italic" >Nilson Escobar</span>
          </span>
        </div>

        <div class="col-6">
          <span>
            <img
              class="default-user-autor"
              src="https://res.cloudinary.com/dorqesogu/image/upload/v1684945540/utils/109613_cd9hmd.png"
              alt="Date"
            />
            <span class="text-secondary fst-italic" >{{ post.date | date }}</span>
          </span>
        </div>
      </div>


    </article>
  </div>

  <br />
  <br />
  <div class="pagination justify-content-center" *ngIf="total>limit">
    <button class="btn" ngClass="{{previous}}" (click)="changePage(-2)">Previous</button>
    &nbsp;
    <button class="btn" ngClass="{{next}}" (click)="changePage(2)">Next ></button>
  </div>
</div>
