<div id="body">

  <h3>New Project</h3>
  <hr>




  <div class="m-3 p-3">

    <form>
      <!-- Project title -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="title" class="form-control inputs" />
            <label class="form-label" for="title">Project Title</label>
          </div>
        </div>
      </div>

      <!-- Project content -->
      <div class="form-outline mb-4">
        <textarea class="form-control" id="content" rows="4"></textarea>
        <label class="form-label" for="content">Project Content</label>
      </div>


      <div class="row">
        <!-- Github URL -->
        <div class="col">
          <div class="form-outline mb-4">
            <input type="url" id="github" class="form-control" />
            <label class="form-label" for="github">GitHub URL</label>
          </div>

        </div>


        <!-- Project URL -->
        <div class="col">
          <div class="form-outline mb-4">
            <input type="url" id="url" class="form-control inputs" id="" />
            <label class="form-label" for="url">Project URL</label>
          </div>
        </div>



      </div>




      <div class="row">
        <!-- More -->
        <div class="col-7">
          <div class="form-outline mb-4">
            <textarea class="form-control" id="more" rows="4"></textarea>
            <label class="form-label" for="more">Additional information</label>
          </div>
        </div>

        <div class="col-5">
          <!-- Video -->
          <div class="form-outline mb-4">
            <input type="url" id="video" class="form-control inputs" />
            <label class="form-label" for="video">Video</label>
          </div>

        </div>

      </div>


      <div class="row">
        <div class="col">

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Save Project</button>

        </div>
      </div>




    </form>





  </div>



</div>
