<div class="col">
  <div class="row w-75 m-auto">
    <h4 class="text-left">30 comments</h4>
    <hr />
    <br /><br />

    <div class="row w-65 m-auto" *ngFor="let item of comments">
      <span class="text-left">{{ item.name }}</span>
      <div class="w-50 text-left">
        <span class="material-symbols-outlined text-left"> favorite </span>
        Like
      </div>

      <div class="w-50 text-right">
        <span class="material-symbols-outlined text-right">
          account_circle
        </span>
        Like
      </div>

      <hr />
    </div>
  </div>
</div>

 <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}
</style>

