<div class="col-">
  <div class="row w-75 m-auto">
    <h4 class="text-left">{{total}} comments</h4>
    <hr />
    <br /><br />
    <div class="row w-65 m-auto" *ngFor="let item of comments">
      <h4 *ngIf="!item.allowed" class="text-warning bg-primary">
        This comment has been sent for autorization, is not approved yet
      </h4>
      <div class="col-1">
        <div class="circulo" [ngStyle]="{ 'background-color': item.color }">
          <h1>{{ item.name.charAt(0) }}</h1>
        </div>
      </div>
      <div class="col-11">
        <p class="text-left mb-0">
          <strong>{{ item.name }}</strong>
        </p>
        <p class="text-left">{{ item.date | date : "MMM d" }}</p>

        <p class="text-left">
          {{ item.comment }}
        </p>
      </div>
    </div>
    <hr />
     <div class="d-flex align-items-center justify-content-center" *ngIf="total>limit">

      <a class="btn btn-secondary" [ngClass]="previous" (click)="changePage(-3)"><<<</a>

      <span>More comments</span>

      <a class="btn btn-secondary" [ngClass]="next" (click)="changePage(3)">>>></a>
     </div>
  </div>
</div>

<br><br>

<style>
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
  }
</style>
