<!-- Footer -->
<footer class="bg-dark bg-gradient text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Form -->
    <section class="">

      <app-create-comment></app-create-comment>

    </section>
    <!-- Section: Form -->
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(20, 20, 20, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="https://nilson-escobar.com/">nilson-escobar.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
